{
	"trailingComma": "none",
	"tabWidth": 2,
	"printWidth": 120,
	"endOfLine": "lf",
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/screens/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"^(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
